span.round {
    min-width: 40px;
}

.full {
    width: 100%;
}

.space {
    height: 25px;
}

.input-file {
    display: none;
}

#nameFileResult {
    padding-top: 20px;
    text-align: center;
}